<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.example.AddFriendServlet</servlet-class>
</servlet>


<servlet>
    <servlet-name>DisplayFriendsServlet</servlet-name>
    <servlet-class>com.example.DisplayFriendsServlet</servlet-class>
</servlet>

</web-app>
